<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <style>
        .container{
         background-color:rgb(231, 70, 16);
        }
        .btn{
         color: aliceblue;
         font-weight: bold;
        }

        .container-2{

     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx6j65qgypMbJf8NcXJqoC9AHL_wNYK_9qlQ&s");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     height:300px;
     margin: 55px;
     }

    </style>

</head>

<body>
<div class="container p-3">
    <div class="row ">

        <div class="col">
            <a class="btn"  th:href="@{/buses}" sec:authorize="hasRole('ROLE_ADMIN')">Search Bus</a>
        </div>
        <div class="col">
            <a class="btn" th:href="@{/viewFeedbacks}" sec:authorize="hasRole('ROLE_ADMIN')" >View Feedback</a>
        </div>
        <div class="col">
            <a class="btn" th:href="@{/searchBus}" sec:authorize="hasRole('ROLE_USER')">Search Bus</a>
        </div>
        <div class="col">
            <a class="btn" th:href="@{/feedback}" sec:authorize="hasRole('ROLE_USER')">Add Feedback</a>
        </div>
        <div class="col">
            <a class="btn" th:href="@{/allBookings}" sec:authorize="hasRole('ROLE_USER')">View Booking</a>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn logout-btn" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="container-2 text-center mt-5 p-5">
    <h2>Welcome to Dashboard</h2>
    <h6>Make a trip with us</h6>
</div>

<div class="container-3 text-center m-5">
    <div class="row">
        <div class="col m-3 p-3" style="box-shadow: 0px 4px 8px red;" >
            <h4>About us</h4>
            <p>MRM is a online bus ticket booking company ,started in the year 2014.It makes booking the bus from your own place .
                we are partnership with our leading ticket booking companies and G-pay,paytm and other bankings for transcation
            </p>
        </div>
        <div class="col m-3 p-3" style="box-shadow: 0px 4px 8px red;">
            <h4>Why Online booking?</h4>
            <p>With an online booking system,
                your clients will feel more comfortable reaching out and making a booking through an online
                bookable calendar. Furthermore, with this type of booking system, you'll automatically create a better
                customer experience for your clients.
            </p>
        </div>
        <div class="col m-3 p-3" style="box-shadow: 0px 4px 8px red;">
            <h4>Advantages</h4>
            <p>
                MRM is India’s most trusted bus ticket company, where you can book any type of private or government-owned bus.
                MRM allows you to find the different types of buses, choose the preferred bus seats,
                and find your nearest boarding and dropping points.
                You can also filter the buses based on timings.
            </p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-wQDYR1hPuF8f5JmW69vdFt3Lcn5EjYtrtmIfXDSVdKghPQBCT6kZ9vMGuKqWfj2x" crossorigin="anonymous"></script>

</body>
</html>

