<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Bus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .form-control{
                border-radius: 8px;
               }

               .form-group{
                font-weight: 600;
               }

    </style>

</head>
<body>
<div class="container-2 p-3" align="center" style="background-color:rgb(231, 70, 16); color: aliceblue;">
    <h2>Update Bus</h2>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 pt-5">

            <form action="/updateBus" method="post">
                <input type="hidden" name="id" th:value="${bus.id}">
                <div class="form-group mb-3">
                    <label for="busName" class="form-label">Bus Name</label>
                    <input type="text" class="form-control" id="busName" name="busName" th:value="${bus.busName}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="source" class="form-label">Source</label>
                    <input type="text" class="form-control" id="source" name="source" th:value="${bus.source}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="destination" class="form-label">Destination</label>
                    <input type="text" class="form-control" id="destination" name="destination" th:value="${bus.destination}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date" th:value="${bus.date}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="time" class="form-label">Time</label>
                    <input type="time" class="form-control" id="time" name="time" th:value="${bus.time}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" th:value="${bus.price}" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-4" style="border-radius: 8px;">update </button>
                </div>
            </form>
            <a th:href="@{/home/admin}" class="btn btn-success mx-5 mt-4 d-block text-center" style="border-radius: 8px;" >Back</a>
        </div>
    </div>
</div>
</body>
</html>